{% load static %}

<head>
  <link rel="stylesheet" href="static/style.css">
  <script src="{% static 'home.js' %}" defer></script>
</head>

<!DOCTYPE html>
<html>
   <title>
    Recipe App
   </title>
   <body>
    <h1 style="text-align:center">The Brot Bin</h1>
    <div style="display: flex;justify-content: center;">
        <img src="{% static 'recipes/images/brot.jpg' %}" alt="home" width="600" height="300">
    </div>
    <br><br>
      <a href ="{%url 'login' %}"> Login </a><br>
      <a href ="{%url 'search' %}"> Search </a><br>
      <a href ="{%url 'recipes' %}"> Recipes </a><br>
    <br><br>
  <div style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; width: 90%;">
      <div style="display: flex; justify-content: center; flex-wrap: wrap;">

      {% for object in object_list %}  {% comment%} go through each element of books list {% endcomment%}
      <div style="display: flex; flex-direction: column; align-items: center; margin: 10px;">
        <a href ="{{object.get_absolute_url}}"> {% comment%} add links to book names  {% endcomment%}
        {{object.name}}
        </a>
        <img src="{{object.pic.url}}" width="150" height="200" />
      </div>
      {% endfor %}

      </div>
    </div>
  </div>

   </body>
</html>